# Format Style Options - Created with Clang Power Tools
---
AlignConsecutiveMacros: Consecutive
BasedOnStyle: LLVM
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 4
SpaceAfterCStyleCast: true
TabWidth: 4
UseTab: ForIndentation
...
